.page {
  background-color: #000;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  margin: 45px auto 0 auto;
  max-width: 880px;
}

@media screen and (max-width: 787px) {
  .header {
    margin: 28px auto 0 auto;
  }
}

.header__logo {
  max-width: 142px;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    padding: 0 30px;
  }
}

@media screen and (max-width: 787px) {
  .header__logo {
    padding: 0 27px;
    max-width: 103px;
  }
}

.header__line {
  margin: 41px 0 0 0;
  max-width: 100%;
  opacity: 0.7;
  border: 1px solid #545454;
}

@media screen and (max-width: 787px) {
  .header__line {
    margin: 31px 0 0 0;
  }
}

.profile {
  max-width: 880px;
  display: flex;
  gap: 30px;
  align-items: center;
  margin: 40px auto 0 auto;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .profile {
    padding: 0 30px;
  }
}

@media screen and (max-width: 787px) {
  .profile {
    max-width: 282px;
    display: flex;
    flex-direction: column;
  }
}

.profile__info {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 787px) {
  .profile__info {
    display: flex;
    flex-direction: column;
  }
}

.profile__heading {
  display: flex;
  gap: 18px;
  align-items: center;
}

.profile__avatar {
  max-width: 168.75px;
  border-radius: 50%;
}

.profile__name {
  margin: 0;
  max-width: 294px;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
}

@media screen and (max-width: 787px) {
  .profile__name {
    font-size: 27px;
  }
}

.profile__button-add {
  background: url(./images/button.png) 50% no-repeat;
  background-size: contain;
  width: 150px;
  cursor: pointer;
  height: 50px;
  border: 1px solid;
}

@media screen and (max-width: 787px) {
  .profile__button-add {
    background: url(./images/buttonm.svg) 50% no-repeat;
    width: 282px;
    height: 50px;
  }
}

.profile__subname {
  margin: 16px 0 0 0;
  max-width: 336px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 787px) {
  .profile__subname {
    text-align: center;
  }
}

.profile__button-edit {
  width: 24px;
  background: url(./images/Edit.png) 50% no-repeat;
  background-size: contain;
  cursor: pointer;
  height: 24px;
  border: 1px solid;
}

.profile__name {
  color: #fff;
}

.profile__subname {
  color: #fff;
}

.elements {
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .elements {
    max-width: 581px;
  }
}

@media screen and (max-width: 787px) {
  .elements {
    margin: 0 auto;
    max-width: 282px;
  }
}

.cards {
  padding: 0;
  margin: 50px 0 0 0;
  display: flex;
  flex-direction: row;
  row-gap: 20px;
  column-gap: 17px;
  flex-wrap: wrap;
  max-width: 100%;
}

.card {
  overflow: hidden;
  max-width: 282px;
  background-color: #fff;
  border-radius: 10px;
}

.card__info {
  display: flex;
  justify-content: space-between;
  max-width: 282px;
  padding: 25px 15px 31px 21px;
  align-items: center;
}

.card__title {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.card__button-like {
  width: 22px;
  height: 19px;
  background: url(./images/like.svg) 50% no-repeat;
  border: none;
}

.footer {
  margin: 0 auto;
  max-width: 880px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 581px;
  }
}

@media screen and (max-width: 787px) {
  .footer {
    max-width: 282px;
  }
}

.footer__copyright {
  color: #fff;
  margin: 0;
  padding: 67px 0 60px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

.popup {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_opened {
  visibility: hidden;
  opacity: 1;
}

.popup__container {
  max-width: 430px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 34px 36px 37px 36px;
}

.forms {
  display: flex;
  flex-direction: column;
}

.popup__container-heading {
  margin: 0;
  max-width: 330px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.forms__name {
  margin: 54px 0 0 0;
  border: none;
}

.forms__profession {
  margin: 30px 0 48px 0;
}

.form__input {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: #000;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  max-width: 358px;
  outline: none;
  padding: 0;
  width: 100%;
}

.form__input::placeholder {
  font-size: 14px;
  font-family: "Inter";
  line-height: 20px;
  color: #000;
}

.form__input::-webkit-input-placeholder {
  font-size: 14px;
  font-family: "Inter";
  line-height: 20px;
  opacity: 1;
  color: #000;
}

.form__input::-moz-placeholder {
  font-size: 14px;
  font-family: "Inter";
  line-height: 20px;
  opacity: 1;
  color: #000;
}

.form__input::-ms-input-placeholder {
  font-size: 14px;
  font-family: "Inter";
  line-height: 20px;
  opacity: 1;
  color: #000;
}

.form__button {
  border-radius: 2px;
  padding: 14px 124px 18px 125px;
  background-color: #000;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}
