.profile__button-edit {
  width: 24px;
  background: url(../../../../images/Edit.png) 50% no-repeat;
  background-size: contain;
  cursor: pointer;
  height: 24px;
  border: 1px solid;
  transition: opacity 0.3s, visibility linear;
}

.profile__button-edit:hover {
  opacity: 0.6;
}
