.elements__like-button {
  width: 22px;
  height: 19px;
    background: url(../../../../images/like.svg) 50% no-repeat;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s, visibility linear;
}

.elements__like-button:hover {
  opacity: 0.5;
}
