.popup__image-container {
  margin: 0;
  display: flex;
  object-fit: cover;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .popup__image-container {
    width: 240px;
    height: 299px;
  }
}
