.popup__save-button {
  border-radius: 2px;
  padding: 14px 124px 18px 125px;
  background-color: #000;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  transition: opacity 0.3s, visibility linear;
  margin: 48px 0 0 0;
}

.popup__save-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 640px) {
  .popup__save-button {
    padding: 14px 82px;
    max-width: 238px;
    font-size: 14px;
    line-height: 17px;
    margin: 45px 0 0 0;
  }
}
